.about-us-container {
  h2 {
    font-size: 250%;
  }
  .about-us-paragraph {
    margin-left: 1.5%;
    margin-right: 1.5%;
    font-size: 120%;
    line-height: 1.5;
    font-weight: bold;
    text-align: justify;
    padding: 0.5%;
  }
  img {
    width: 20%;
    padding: 0.5%;
    margin-left: 1.5%;
  }
}
