.mySwiper {
  margin: 0;
  background-color: white;
  .swiper-wrapper {
    display: flex;
    height: 35vh;
    width: 50%;
    align-items: center;
    .swiper-slide {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60%;
        height: 100%;
      }
    }
    #jc-slide {
      background-color: #e9e4e4;
    }
  }
}
