.cart-container {
  .row {
    .cart-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0.5%;
      margin-top: 4%;
      ul {
        .cart-item {
          border: 1px solid green;
          display: flex;
          flex-direction: column;
          width: 50%;
          img {
            width: 100%;
          }
          .row {
            margin: 0;
            padding: 0;
            .card-info {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 110%;
              font-weight: bold;
              text-transform: capitalize;
              margin-bottom: 0;
            }
            .card-qp-info {
              font-weight: bold;
              font-size: 110%;
            }
          }
          .delete-button {
            margin: 0;
            padding: 0;
            width: 100%;
          }
        }
      }
    }
  }
}

.all-cart {
  padding: 1%;
  margin: 1%;
  .cart-total {
    font-size: 110%;
    font-weight: bold;
  }
}

.cart-button {
  font-size: 110%;
  font-weight: bold;
  padding: 0.5%;
  margin: 1.5%;
  width: 60%;
}
.cart-button:hover {
  background-color: rgba(107, 155, 53, 1);
}
