.cart-widget {
  display: flex;
  flex-direction: row;
  width: 2vw;
  .cart-icon {
    width: 25px;
    height: 25px;
  }
  .product-amount {
    display: inline-block;
    position: relative;
    .product-amount-notification {
      background-color: #7ca982;
      color: white;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      top: -20px;
      right: -7px;
    }
  }
}
