footer {
  background-color: #98a886;
  width: 100%;
  padding-top: 0.5%;
  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
    }
    #info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 150%;
      font-weight: bold;
    }
    #social-media {
      font-size: 400%;
      a {
        margin: 5%;
        text-decoration: none;
        svg {
          margin: 5%;
          path {
            display: flex;
          }
        }
      }
    }
  }
}
