@font-face {
  font-family: 'Bauer Bodoni Roman';
  src: url(../fonts/Bauer\ Bodoni\ Roman.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bauer Bodoni Roman';
  background-color: #daddd8;
}
