.detail-container {
  margin: 2%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 2px black;
  .info-details {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #f0f7ee;
    border-radius: 2%;
    div {
      img {
        width: 75%;
        border-radius: 5%;
        align-self: center;
      }
      .title {
        font-size: 200%;
        text-transform: capitalize;
        font-weight: bold;
      }
      .subtitle {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 150%;
      }
      .description {
        text-align: justify;
        line-height: 1.5;
        font-size: 150%;
        font-weight: bold;
      }
      .price {
        font-weight: bold;
      }
    }
  }
}
