.item-list-container {
  background: rgb(238, 246, 238);
  background: linear-gradient(
    90deg,
    rgba(238, 246, 238, 1) 0%,
    rgba(107, 155, 53, 1) 100%
  );
  padding: 10%;
  font-size: 200%;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card {
      border: 2px solid black;
      margin: 1.5%;
      width: 15%;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        object-fit: cover;
      }
      .button-detail {
        width: 100%;
        font-size: large;
        font-weight: bold;
        background-color: rgba(107, 155, 53, 1);
        .detail {
          text-decoration: none;
          color: black;
          cursor: pointer;
        }
      }
    }
  }
}
