main {
  background: rgb(238, 246, 238);
  background: linear-gradient(
    90deg,
    rgba(238, 246, 238, 1) 0%,
    rgba(107, 155, 53, 1) 100%
  );
  .item-list-container {
    font-size: 200%;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
}
