.count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .amount-container {
    display: flex;
    width: 35vw;
    .count-amount {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35%;
      border: solid black 2px;
      background-color: white;
      font-size: large;
      font-weight: bold;
    }
    .count-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  .add-cart-button-container {
    display: flex;
    .add-cart {
      height: 100%;
      background-color: red;
    }
  }
}
