.count-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  margin-top: 3%;
  .amount-container {
    display: flex;
    width: 25vw;
    .count-amount {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35%;
      border: solid black 2px;
      background-color: white;
      font-size: large;
      font-weight: bold;
    }
    .count-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      font-size: 1.5em;
      font-weight: bold;
    }
    .count-button:hover {
      background-color: #2a3c24;
    }
  }
  .add-cart {
    background-color: rgba(107, 155, 53, 1);
    color: white;
    width: 15vw;
    font-size: 1.5em;
  }
  .add-cart:hover {
    background-color: #2a3c24;
  }
}
