header {
  .navbar {
    .container-fluid {
      .navbar-brand {
        width: 20%;
        img {
          width: 60%;
        }
      }
      .navbar-collapse {
        justify-content: end;
        .navbar-nav {
          .nav-item {
            width: 6vw;
            margin: 0.5%;
            font-weight: bold;
            font-size: 110%;
            text-align: center;
          }
          .nav-item:hover {
            background-color: rgba(107, 155, 53, 1);
          }
        }
        form {
          margin: 1%;
          .form-control {
            border: 1px solid black;
          }
          .btn {
            font-weight: bold;
            background-color: #6a994e;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
  }
}
