@font-face {
  font-family: "Bauer Bodoni Roman";
  src: url(../fonts/Bauer\ Bodoni\ Roman.otf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bauer Bodoni Roman";
  background-color: #daddd8;
}

header .navbar .container-fluid .navbar-brand {
  width: 20%;
}
header .navbar .container-fluid .navbar-brand img {
  width: 70%;
}
header .navbar .container-fluid .navbar-collapse {
  justify-content: end;
}
header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  width: 6vw;
  margin: 0.5%;
  font-weight: bold;
  font-size: 110%;
  text-align: center;
}
header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item:hover {
  background-color: rgb(107, 155, 53);
}
header .navbar .container-fluid .navbar-collapse form {
  margin: 1%;
}
header .navbar .container-fluid .navbar-collapse form .form-control {
  border: 1px solid black;
}
header .navbar .container-fluid .navbar-collapse form .btn {
  font-weight: bold;
  background-color: #6a994e;
}
header .navbar .container-fluid .navbar-collapse form .btn a {
  text-decoration: none;
  color: white;
}

.cart-widget {
  display: flex;
  flex-direction: row;
  width: 2vw;
  justify-content: center;
  align-items: center;
}
.cart-widget .cart-icon {
  width: 25px;
  height: 25px;
  text-align: center;
}
.cart-widget .product-amount {
  display: inline-block;
  position: relative;
}
.cart-widget .product-amount .product-amount-notification {
  background-color: #7ca982;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -7px;
}

main {
  min-height: 75vh;
}

.item-list-container {
  background-color: rgb(238, 246, 238);
  padding: 5%;
  font-size: 200%;
  font-weight: bold;
  line-height: 1.5;
  width: 100%;
}
.item-list-container h1,
.item-list-container h2 {
  font-weight: bold;
  margin: 1.5%;
  padding: 0.5%;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-container .card {
  margin: 1.5%;
  width: 22%;
  display: flex;
  flex-direction: column;
  font-size: 52%;
  text-align: center;
}
.card-container .card .row {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: inherit;
}
.card-container .card .row .card-product {
  text-transform: capitalize;
  font-size: 92%;
}
.card-container .card img {
  border-radius: 7%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-container .card .button-detail {
  width: 100%;
  font-size: large;
  font-weight: bold;
  background-color: #d2e0bf;
  border: none;
}
.card-container .card .button-detail .detail {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.count-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  margin-top: 3%;
}
.count-container .amount-container {
  display: flex;
  width: 25vw;
}
.count-container .amount-container .count-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  border: solid black 2px;
  background-color: white;
  font-size: large;
  font-weight: bold;
}
.count-container .amount-container .count-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  font-size: 1.5em;
  font-weight: bold;
}
.count-container .amount-container .count-button:hover {
  background-color: #2a3c24;
}
.count-container .add-cart {
  background-color: rgb(107, 155, 53);
  color: white;
  width: 15vw;
  font-size: 1.5em;
}
.count-container .add-cart:hover {
  background-color: #2a3c24;
}

.detail-container {
  margin: 2%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(107, 155, 53);
  box-shadow: 2px black;
}
.detail-container img {
  width: 15%;
}
.detail-container .info-details {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail-container .info-details .title {
  font-size: 200%;
  text-decoration: underline;
}
.detail-container .info-details .description {
  text-align: justify;
  line-height: 1.5;
}

.mySwiper {
  margin: 0;
  background-color: white;
}
.mySwiper .swiper-wrapper {
  display: flex;
  height: 35vh;
  width: 50%;
  align-items: center;
}
.mySwiper .swiper-wrapper .swiper-slide {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper .swiper-wrapper .swiper-slide img {
  width: 60%;
  height: 100%;
}
.mySwiper .swiper-wrapper #jc-slide {
  background-color: #e9e4e4;
}

footer {
  background-color: #98a886;
  width: 100%;
  padding-top: 0.5%;
}
footer div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer div img {
  width: 60%;
}
footer div #info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  font-weight: bold;
}
footer div #social-media {
  font-size: 400%;
}
footer div #social-media a {
  margin: 5%;
  text-decoration: none;
}
footer div #social-media a svg {
  margin: 5%;
}
footer div #social-media a svg path {
  display: flex;
}

.order-form {
  padding: 1%;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid black;
  border-radius: 8%;
}
.order-form .label-form {
  padding: 0.5%;
  display: inline;
  margin: 1%;
  font-size: 150%;
  font-weight: bold;
}
.order-form input {
  display: inline-block;
  width: 80%;
}
.order-form button {
  width: 35%;
  padding: 0.5%;
  margin: 3%;
  font-size: 120%;
  font-weight: bold;
}

.cart-container .row .cart-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cart-container .row .cart-cards ul .cart-item img {
  width: 30%;
}
.cart-container .row .cart-cards ul .cart-item .card-info {
  font-size: 110%;
  font-weight: bold;
  text-transform: capitalize;
}
.cart-container .row .cart-cards ul .cart-item .card-qp-info {
  font-weight: bold;
  font-size: 110%;
}
.cart-container .row .cart-cards .all-cart {
  padding: 1%;
  margin: 1%;
  flex-direction: row;
}
.cart-container .row .cart-cards .all-cart .cart-total {
  font-size: 110%;
  font-weight: bold;
}

.cart-button {
  font-size: 110%;
  font-weight: bold;
  padding: 0.5%;
  margin: 1.5%;
  width: 60%;
}

.cart-button:hover {
  background-color: rgb(107, 155, 53);
}/*# sourceMappingURL=styles.css.map */