header .navbar .container-fluid .navbar-brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 150%;
}
header .navbar .container-fluid .navbar-collapse {
  justify-content: end;
}
header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  width: 6vw;
  margin: 0.5%;
  font-weight: bold;
}
header .navbar .container-fluid .navbar-collapse form {
  margin: 1%;
}
header .navbar .container-fluid .navbar-collapse form .form-control {
  border: 1px solid black;
}
header .navbar .container-fluid .navbar-collapse form .btn {
  font-weight: bold;
}

.cart-widget {
  display: flex;
  flex-direction: row;
  width: 2vw;
}
.cart-widget .cart-icon {
  width: 25px;
  height: 25px;
}
.cart-widget .product-amount {
  display: inline-block;
  position: relative;
}
.cart-widget .product-amount .product-amount-notification {
  background-color: #7ca982;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -7px;
}

main {
  background: rgb(238, 246, 238);
  background: linear-gradient(90deg, rgb(238, 246, 238) 0%, rgb(107, 155, 53) 100%);
}
main .item-list-container {
  padding: 10%;
  font-size: 200%;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
main .item-list-container .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main .item-list-container .card-container .card {
  border: 2px solid black;
  margin: 1.5%;
  width: 15%;
  display: flex;
  flex-direction: column;
}
main .item-list-container .card-container .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .item-list-container .card-container .card button {
  width: 100%;
  font-size: small;
  font-weight: bold;
  background-color: rgb(107, 155, 53);
}
main .item-list-container .card-container .card button .detail {
  text-decoration: none;
  color: black;
}

.count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.count-container .amount-container {
  display: flex;
  width: 35vw;
}
.count-container .amount-container .count-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  border: solid black 2px;
  background-color: white;
  font-size: large;
  font-weight: bold;
}
.count-container .amount-container .count-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  font-size: 1.5em;
  font-weight: bold;
}
.count-container .add-cart-button-container {
  display: flex;
}
.count-container .add-cart-button-container .add-cart {
  height: 100%;
  background-color: red;
}

.detail-container {
  margin: 2%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(107, 155, 53);
  box-shadow: 2px black;
}
.detail-container img {
  width: 15%;
}
.detail-container .info-details {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail-container .info-details .title {
  font-size: 200%;
  text-decoration: underline;
}
.detail-container .info-details .description {
  text-align: justify;
  line-height: 1.5;
}/*# sourceMappingURL=styles.css.map */